<html>
  <head>
    <style type="text/css">
      <%= @styles %>
    </style>
    <script type="text/javascript">
      <%= @javascripts %>
    </script>
  </head>
  <body>
    <div class="header">
      <a href="#" class="show">Show more</a>
      <a href="#">Hide</a>
    </div>
  </body>
</html>