<html>
  <head>
    <style type="text/css">
      <%= @styles %>
    </style>  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      <%= @javascripts %>
    </script>
  </head>
  <body>
    <div class="header">
      <a href="#" class="show">Show more</a>
      <a href="#">Hide</a>
    </div>
  </body>
</html>